Upper layer checksum problem

I printed the TCP `checksum` before and after calling `bpf_skb_store_bytes`. I found that the `checksum` was consistent, but the TCP `checksum` of the Packet captured with tcpdump was inconsistent with the one printed in the ebpf program.

Although it is inconsistent (the `checksum` captured by tcpdump is correct), I guess that the kernel modified its `checksum` later, but it does not work on some devices such as openwrt routers. The receiver thinks that the Packet after adding the extension header is a `bad checksum`.

I was researching why it didn't work on openwrt router, Is this phenomenon related to the program? Because I saw that you used the `BPF_F_RECOMPUTE_CSUM` flag, but this flag did not take effect (the effect is the same even without this flag)

> I printed the TCP `checksum` before and after calling `bpf_skb_store_bytes`. I found that the `checksum` was consistent, but the TCP `checksum` of the Packet captured with tcpdump was inconsistent with the one printed in the ebpf program.
> 
> Although it is inconsistent (the `checksum` captured by tcpdump is correct), I guess that the kernel modified its `checksum` later

Passing `BPF_F_RECOMPUTE_CSUM` to `bpf_skb_store_bytes` does not trigger an immediate change on the checksum (see [here](https://elixir.bootlin.com/linux/latest/source/net/core/filter.c#L1713) - it only updates the skb internally so that the checksum is modified accordingly later on). That's the reason why you see no change before/after `bpf_skb_store_bytes`. The reason why you see the correct/modified checksum with tcpdump is because the hook is after, i.e., it happens after the tc/ebpf program on egress.

> but it does not work on some devices such as openwrt routers. The receiver thinks that the Packet after adding the extension header is a `bad checksum`.
> 
> I was researching why it didn't work on openwrt router, Is this phenomenon related to the program? Because I saw that you used the `BPF_F_RECOMPUTE_CSUM` flag, but this flag did not take effect (the effect is the same even without this flag)

Are you injecting a Routing Header? If so, it may be an issue according to RFC8200, section 8.1:

> If the IPv6 packet contains a Routing header, the Destination
>          Address used in the pseudo-header is that of the final
>          destination.  At the originating node, that address will be in
>          the last element of the Routing header; at the recipient(s),
>          that address will be in the Destination Address field of the
>          IPv6 header.

Otherwise, I guess it's an issue on the openwrt side and/or the RX checksum offload mechanism.

By the way, on a second thought, I think passing `BPF_F_RECOMPUTE_CSUM` to `bpf_skb_store_bytes` is useless in our case since we don't modify the pseudo-header.

Thank you, I understand. The checksum problem is indeed related to checksum offload. It seems that for some reason, openwrt's checksum offload fails.

I just ran some tests at home between two laptops (both with an Intel e1000e driver), and I can also see some checksum issues. It looks like it's fine as long as it doesn't exceed a specific EH length (approx. 192 bytes of EH, tested with a HbH), then the checksum verification fails on the receiver. I probably missed it because I tested it with small sizes back in the day. I suspect it's an e1000e bug in the TX checksum offload (on the sender). Smells like something related to the skb's headroom full and therefore a reallocation, leading to a checksum issue (not sure at all about this, just a thought). Anyway, simply disabling the TX checksum offloading on the sender does the trick and then the receiver is happy (`sudo ethtool -K dev tx off`). Not sure about your specific use case with openwrt though.